@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to Glb to Usdz Test Server.


<br />
<a rel="ar" href="usdz/duck.glb">Show duck</a>

<br />
<a rel="ar" href="usdz/GearboxAssy.glb">Show GearboxAssy</a>